  #map { height: 100vh; }

  .leaflet-control-layers {
    background: rgba(255, 254, 254, 0.9);
    color: black;
    border-radius: 10px;
    border: 1px solid #555;
    padding: 0.4rem;
}

.leaflet-control-layers label {
    color: black;
    font-size: 20px;
    padding-bottom: 1rem;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    padding: 0.4rem !important;
    border-radius: 0.5rem !important;
}


/* .leaflet-control-layers-toggle {
    background-color: #e74c3c;
    border-radius: 8px;        
} */